/* COMBINADOR DESCENDIENTE 
div p{
    background-color: rgb(239, 221, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}*/

div > p{
    background-color: beige;
    padding: 2px;
    border: 1px dashed blanchedalmond;
}

/* combinador siguiente hermano */
div + p{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 24px;
}

div ~ p{
    background-color: rgb(163, 140, 165);
    color: white;
}

.link:hover {
    color: darkolivegreen;
}

.link:link {
    color: rgb(143, 143, 204);
}

.link:focus {
    font-weight: bold;
}

.link:active {
    color: rgb(41, 52, 160);
}

.link:visited {
    color: rgb(120, 143, 108);
}

#lorem::first-line {
    font-weight: bold;
    background-color: black;
    color: white;
}

#lorem::first-letter {
    font-weight: bold;
    font-size: 50px;
}

div::before {
    content: "⭐️";
}

div::after {
    content: "🌀";
}

::marker{
    color: crimson;
}

::selection{
    background-color:cornflowerblue;
    color: cornsilk;
}