.container {
    display: flex;
    height: 400px;
    align-items: center;
}

.container div {
    border: 2px solid black;
    width: 100px;
    height: 80px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#elemento4 {
    align-self: flex-end;
}